/* Define CSS variables */
:root {
    --primary-color: #2b3034;
    --secondary-color: #ffffff;
    --tertiary-color: #b7b8b9;
    --background-color: #f1f1f1;
}


/* Global styles */
body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin: 2px 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

/* Primary color for important elements */
.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

/* General styles for elements */
.Mobile {
    display: none;
}

/* Profile styles */
.profile img {
    border-radius: 100%;
    object-fit: cover;
    width: 41px;
    max-height: 41px;
}

/* Media queries for different screen sizes */
@media (min-width: 151px) {
    .Mobile {
        display: flex;
    }
}

@media (min-width: 641px) {
    .Mobile {
        display: none;
    }
    .profile img {
        width: 52px;
        max-height: 52px;
    }
    .main {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1025px) {
    .profile img {
        width: 65px;
        max-height: 65px;
    }
    .main {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

    }
}

@media (min-width: 1441px) {
    .profile img {
        width: 71px;
        max-height: 71px;
    }
    .main {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
}

/* Logout styles */


.Logout:hover {
    background-color: #55595d;
}

/* Profile icon styles */
.profilbild-icon,
#ProfileImage {
    border-radius: 100%;
}

/* Active style */
.Active {
    background-color: #55595d;
}

/* Online status style */
#profile-style,
.isOnline {
    margin: 13px;
    box-shadow: 0 0 0 1px #d4d4d4, 0 0 0 5px white, 0 0 0 7px #d4d4d4;
}

.isOnline {
    box-shadow: 0 0 0 1px #00d600, 0 0 0 5px white, 0 0 0 7px #00d600 !important;
}

/* Add any additional styles here as needed */
